@inherits LayoutComponentBase

<PageTitle>Galaxy-FC</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
    <div class="background">
        <div class="space stars1"></div>
        <div class="space stars2"></div>
        <div class="space stars3"></div>
    </div>
</div>
